<form [formGroup]="formulario" (ngSubmit)="saveProduct($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Product</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card-content>
        <div class="row">
            <div class="col-xs">
                <mat-form-field>
                    <input formControlName="id" matInput type="text" placeholder="id">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xs">
                <mat-form-field>
                    <input formControlName="title" matInput type="text" placeholder="title">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xs">
                <mat-form-field>
                    <input formControlName="price" matInput type="text" placeholder="Price">
                </mat-form-field>
                <div *ngIf="priceField.errors && priceField.dirty">
                    <p *ngIf="priceField.hasError('price_invalid')">Valor inválido</p>
                    <p *ngIf="priceField.hasError('required')">Valor requerido</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs">
                <mat-form-field>
                    <input formControlName="image" matInput type="text" placeholder="Image">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xs">
                <mat-form-field>
                    <textarea formControlName="description" matInput placeholder="Ingrese la descripción"></textarea>
                </mat-form-field>
            </div>
        </div>
        <mat-card-actions>
            <button [disabled]="formulario.invalid" mat-raised-button type="submit">Guardar</button>
        </mat-card-actions>

    </mat-card-content>

</form>